.App {
  background-color: white;
  width: 960px;
  margin: 50px auto;
  padding-left: 25px;
  padding-right: 25px;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px;
}

.App-top-bar>div {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  text-transform: uppercase;
  height: 40px;
  padding: 25px 0 0 0;
  margin: 0;
}

.App-left-col {
  width: 250px;
  margin: 0;
}

.App-hotel-image {
  margin: 0 0 15px 0;
}

.App-hotel-list {
  background-color: #efefef;
  list-style: none;
  text-align: left;
  margin: 15px 0;
  padding: 15px 15px;
  font-size: 14px;
}

.App-hotel-list dt {
  width: 72.5%;
  padding: 0 7.5% 0 0;
  margin: 5px 0;
  vertical-align: middle;
  display: inline-block
}

.App-hotel-list dd {
  width: 17.5%;
  padding: 0 0 0 2.5%;
  margin: 0;
  text-align: right;
  vertical-align: middle;
  display: inline-block;
  color: #90909A;
}

/**
 * HotelContent Component Styles
 */

.App-hotel-info {
  color: #6b6c79;
  display: block;
  clear: both;
  text-align: left;
  margin: 0;
  padding: 0;
}

.App-hotel-info>button {
  color: #90909A;
  border: 0;
  background: transparent;
  margin: 0 10px 0 0;
  padding: 0;
  font-size: inherit;
}

.App-hotel-info>button>i {
  margin-right: 5px;
}

.App-hotel-content {
  width: 100%;
  height: 175px;
}

.App-hotel-header {
  height: 115px;
}

.App-hotel-header h1 {
  color: #90909A;
  font-weight: normal;
  font-size: 36px;
  text-transform: uppercase;
  float: left;
  margin: 0;
  padding: 0;
}

.App-hotel-rating {
  text-transform: uppercase;
  float: left;
  margin: 10px 0 0 2px;
}

.App-hotel-rating .vegas-com-icon.sym-star {
  color: #90909A;
  margin: -2px 0 0 0;
}

.App-hotel-rating .vegas-com-icon.sym-star.filled {
  color: gold;
}

.App-hotel-rating .vegas-com-icon.sym-star.half {
  background: linear-gradient(to right, gold 50%, #9999a3 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* position: absolute; */
  color: gold;
  overflow: hidden;
}

.App-hotel-price {
  text-align: left;
  color: #f48721;
  font-size: 60px;
  font-weight: bolder;
  margin: 0;
  padding: 0;
}

.App-hotel-price span {
  display: block;
  color: #90909A;
  font-weight: normal;
  font-size: 13px;
  text-transform: uppercase;
}

.App-hotel-content-tabs {
  width: 675px;
}

/**
 * React Tabs
 */

.react-tabs__tab-list {
  display: block;
  text-align: left;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  height: 60px;
  vertical-align: middle;
}

.react-tabs__tab {
  display: inline-block;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.8);
  background-color: #895e95;
  /* border-bottom: 5px solid #895e95;
  box-sizing: content-box; */
  width: 33.3%;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  height: 60px;
  text-transform: uppercase;
  padding-top: 20px;
}

.react-tabs__tab span {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

.react-tabs__tab.react-tabs__tab--selected {
  color: white;
  border-bottom: 5px solid #733080;
}

button {
  color: #90909A;
  border: 0;
  background: transparent;
  margin: 0 10px 0 0;
  padding: 0;
  font-size: inherit;
}

.pre-line {
  white-space: pre-line;
  padding: 5px 7px;
}

.collapsed {
  max-height: 200px;
  overflow: hidden;
  text-overflow: clip;
}
