body {
  font-size: 16px;
  margin: 50px;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #d4d4d4;
  color: #272727;
}

p {
  font-size: 1em;
}

a,
a:link,
a:active,
a:hover,
a:focus {
  color: #895e95;
  text-decoration: none;
}

a:hover {
  color: #733080;
}

@font-face {
  font-family: 'Vegas-Com-Icons';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/icons.eot');
  /* IE9 Compat Modes */
  src: local('Icons'), local('Icons'), url('./assets/fonts/icons.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('./assets/fonts/icons.woff') format('woff'), /* Modern Browsers */
  url('./assets/fonts/icons.ttf') format('truetype'), /* Safari, Android, iOS */
  url('./assets/fonts/icons.svg#Icons') format('svg');
  /* Legacy iOS */
}

.vegas-com-icon {
  font-family: 'Vegas-Com-Icons';
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  padding: 0 2px 1px 3px;
  margin: 0 5px 0 0;
}

.vegas-com-icon.circled {
  color: white;
  background-color: #733080;
  display: inline-block;
  vertical-align:middle;
  text-align:center;
  border-radius: 50%;
  line-height: 13px;
  height: 13px;
  width: 14px;
  font-size: 10px;
  padding: 1px 0 0 0;
  margin: 5px;
}

.vegas-com-icon.sym-mark:before {
  display: inline-block;
  vertical-align:middle;
  text-align:center;
  content: "\2352";
}

.vegas-com-icon.sym-left:before {
  display: inline-block;
  vertical-align:middle;
  text-align:center;
  content: "\2190";
}

.vegas-com-icon.sym-right:before {
  display: inline-block;
  vertical-align:middle;
  text-align:center;
  content: "\2192";
}

.vegas-com-icon.sym-up:before {
  display: inline-block;
  vertical-align:middle;
  text-align:center;
  content: "\2191";
}

.vegas-com-icon.sym-down:before {
  display: inline-block;
  vertical-align:middle;
  text-align:center;
  content: "\2193";
}

.vegas-com-icon.sym-star:before {
  display: inline-block;
  vertical-align:middle;
  text-align:center;
  content: "\2605";
  padding: 0;
  margin: 10px 0 0 0;
  width:auto;
  height:auto;
}

.vegas-com-icon.sym-phone:before {
  display: inline-block;
  vertical-align:middle;
  text-align:center;
  content: "\2706";
}

.vegas-com-icon.sym-like:before {
  display: inline-block;
  vertical-align:middle;
  text-align:center;
  content: "\2764";
}
